# System files
Thumbs.db
Thumbs.db.meta
*.DS_Store
*.directory
.vs
.vscode
*.zip
*.tar.gz

# Folder to exclude
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Builds/
Logs/
Temp/


# Various
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
xcshareddata/

# Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Obj-C/Swift
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
Packages/
Package.pins
Package.resolved
.build/